body {
   display: flex;
   flex-direction: column; 
   align-items: center;
   justify-content: space-around;
   font-family: 'Courier New', Courier, monospace;
   background-color: #FDF1F0;
   height: 100vh;
}

.heading {
color: rgb(0, 0, 0);
font-weight: bold;
}

.parag {
   display: flex;
   color: rgb(0, 0, 0);
   font-size: 30px;
   font-weight: bold;
}

.img {
   display: flex;
   gap: 20px;
}

.scores {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100vh;
   font-weight: bold;
   font-size: 20px;
}

button {
   padding: 10px 20px;
   background-color: #293132;
   border-radius: 5px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
   0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
   color: white;
   font-size: 20px;
}

button:hover {
   box-shadow: 0 3px 6px black;
}